* { 
	margin:0; 
	padding:0; 
}

html, body { 
	width:100%; 
	height:100%; 
	font-family: Helvetica;
	font-weight: 300;
}

/*
body {
	display:flex;
	flex-direction: column;
	justify-content: space-between;
}*/

header {
	height:5vh;
	width:100vw;
	background-color: white;

}

main {
	height:72vh;
	width: 100vw;
	background-color: white;
}

footer {
	height:10vh;
	width: 100vw;
	background-color: white;
	display:flex;
	justify-content: center;
	text-align:center;
	/*align-items: stretch;*/
}

.button-wrapper {
	display: flex;
	justify-content: space-evenly;

}

canvas { 
	display:block;
	touch-action: manipulation;
}


#canvasDiv {
	/*border: 2px dashed black;*/
	/*background-image: url("../assets/spiral.png");
	background-position: center;
	background-size: 45vmax 90%;
	background-repeat: no-repeat;*/
}


.image {
    opacity: 0.2;
}

